.home {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-left: 2px solid #d4d3d3;
    border-right: 2px solid #d4d3d3;
}

.header {
    width: 100%;
}

.header-box {
    width: 920px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.header-left {
    width: 21.74%;
    height: 200px;
    border: 1px solid #d4d3d3;
    display: flex;
    position: relative;
}

.header-left img {
    width: 191px;
    height: 191px;
    margin: auto;
}

.header-right {
    width: 78.26%;
    height: 200px;
    padding-left: 40px;
}

.right_header {
    display: flex;
    line-height: 40px;
    height: 50px;
}

.user_button {
    line-height: 16px;
    height: 26px;
    width: 110px;
    color: #333;
    border: 1px solid #bbb8b8;
    border-radius: 3px;
    cursor: pointer;
}

.right_middle {
    height: 70px;
    display: flex;
}

.middle-item-one {
    min-width: 70px;
    margin: 10px 0;
    border-right: 1px solid #d4d3d3;
}

.right_middle div span {
    display: block;
}

.middle-item-tow {
    width: 60px;
    margin: 10px 20px;
}

.number {
    font-size: 20px;
    color: #898989;
    font-weight: 600;
    cursor: pointer;
}

.font {
    font-size: 14px;
    color: #4e4e4e;
}

.right_bottom {
    padding-top: 10px;
    line-height: 25px;
    color: #4e4d4d;
}

.change_avater {
    position: absolute;
    width: 191px;
    height: 27px;
    background: #8e8e8e;
    opacity: 0.8;
    bottom: 3px;
    left: 3px;
    text-align: center;
}

.change_avater_item {
    line-height: 27px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.middle_box {
    width: 920px;
    margin: 0 auto;
    display: flex;
}

.body_table {
    width: 100%;
    padding-top: 1px;
    border-right: 1px solid #d4d3d3;
    border-left: 1px solid #d4d3d3;
    border-bottom: 1px solid #d4d3d3;
}

.item {
    display: flex;
    height: 37px;
    line-height: 37px;
}

.item:hover {
    background-color: rgb(214, 213, 213);
}

.middle_bottom {
    padding-top: 40px;
    width: 920px;
    margin: 0 auto;
    display: flex;
}

.pass_word {
    width: 90%;
    display: flex;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}